.article {
  display: grid;
  grid-template-columns: minmax(0, 28.5rem) minmax(0, 44.5rem);
  max-width: 73rem;
  width: 100%;
  box-shadow: 0px 40px 40px rgba(201, 213, 225, 0.5);

  @include respond(phone) {
    grid-template-columns: minmax(0, 32.7rem);
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  &__content {
    border-radius: 0 10px 10px 0;
    background-color: var(--color-Pure-White);
    padding: clamp(2rem, 5vw, 3.2rem) clamp(2rem, 5vw, 2.5rem)
      clamp(2.5rem, 5vw, 4rem);
    @include respond(phone) {
      padding: clamp(3.6rem, 5vw, 3.2rem) clamp(3.2rem, 5vw, 3.8rem)
        clamp(3.2rem, 5vw, 4rem);
    }
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__heading {
      max-width: 29ch;
      margin-bottom: 1.2rem;
    }
    &__txt {
      margin-bottom: 2rem;
    }
    &__card {
      display: flex;
      gap: 1.6rem;

      &__avatar {
        border-radius: 50%;
      }
      &__profil {
        font-size: 1.3rem;
        line-height: 20px;
        letter-spacing: 0.12px;
        &__name {
          color: var(--color-Fiord);
        }
        &__date {
          color: var(--color-Cadet-Blue);
        }
      }
    }
  }
  &__footer {
    display: none;
    @include respond(phone) {
      min-width: 100%;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      &__social {
        display: flex;
        align-items: center;
      }
    }
  }
}
